* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(150deg, black, #B692C2, black);
    padding: 10px;
}


p {
    color: #EBD3F8;
    font-size: 20px;
}

h1 {
    color: #EBD3F8;
    font-weight: bold;
    font-style: italic;
}

input {
    width: 30%;
    padding: 8px;
    box-sizing: border-box;
    border: 2px groove #674188;
    border-radius: 7px;
    margin: 8px;
    

}

span {
    color: whitesmoke;
}

.but {
    border-radius: 16px;
    width: 100px;
    height: 50px;
    font-size: 25px;
    margin: 22px 10px;
    background-color: #81689D;
    color: azure;
    border: 3px groove white;
    cursor: pointer;

}